body {
/*  font-family: Arial, Helvetica, sans-serif;
  color: #767676;*/
}
/*
.output-container {
  min-width: 330px;
  padding-bottom: 35px !important;
}
.input-container {
  min-width: 350px;
  padding-bottom: 35px !important;
}
*/
#input-img {
  width: 250;
  height: 250;
}
.center-container {
  display: flex;
  justify-content: center;
}
.style-container {
  display: flex;
  justify-content: space-around;
  min-width: 250px;
  margin-top: 20px;
}
.input-container .container,
.output-container .container{
  position: relative;
    text-align: center;
}

.container1 {
    text-align: center;
}

.image {
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.imageAnchor:focus img{
  border: 4px solid #84ba3f;
}



/* Responsiveness */
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
}
/* For desktop: */
.col-3 {width: 30%;}
/* .col-10 {width: 100%;} */

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }
}

#bookmarkflag {    
/*  font-family: Roboto,"Helvetica Neue",sans-serif;*/
  position: absolute;
  right: -264px;
  width: 500px;
  top: -133px;
  font-size: 12px;
  background: rgb(43, 144, 226);
  padding: 200px 0 9px;
  color: #fff;
  font-weight:bold;
  text-decoration:none;
  text-align: center;
  vertical-align: bottom;
  box-shadow: 0 0 11px 0 rgba(0,0,0,.75);
/*  font-transform: capitalize;*/
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#bookmarkflag:hover {
  text-decoration:underline;
}
#bookmarkflag .bookmarklink {
  line-height: 15px;
  font-weight: 900;
}

/*
a {
  color: rgb(43, 144, 226);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
*/
.link {
  color: #84ba3f;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
input[type="file"] {
  position: absolute;
  display: none;
}


#output-img-container {
  display: flex;
  justify-content: center;
}
.reverse-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.note {
  font-size: 12px;
}

.tab .nav.nav-tabs li a {
    padding: 8px 15px;
}

.mg-200 {
    margin: -200px;
}

.white-bg .container .col-lg-4 button.btn-circle{
    border-radius: 50%;
}

.tab .nav.nav-tabs li a{
    padding: 8px;
}
.nav.nav-tabs li a {
    margin-right: 0!important;
    margin-bottom: 0!important;
}

@media (max-width: 992px) {
    .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    display: none;
}
}